{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":143.68180513381958,"scrollleft":0,"selection":{"start":{"row":20,"column":23},"end":{"row":20,"column":23},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":9,"state":"start","mode":"ace/mode/ini"}},"timestamp":1484703518974,"hash":"b24b5227de88449aada991433449b0fe4b2b797d"}