
</div>
<div id="carousel">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% if @services_limited %>
            <div class="item active">
              <%= link_to detail_path(@services_limited.first) do %>
                  <img class='carousel-img-slider' src="<%= @services_limited.first.product_photos.first.photo.url(:original) %>"></img>
              <% end %>
            </div>
            <% @services_limited.each do |s|%>
                <div class="item">
                  <%= link_to detail_path(s) do %>
                      <img class='carousel-img-slider' src="<%= s.product_photos.first.photo.url(:original) if s.id != @services_limited.first.id %>"></img>
                  <% end %>
                </div>
            <% end %>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="fa fa-angle-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
  </div> <!-- end carousel -->

</div>