<footer class="footer-demo section-dark">
    <div class="container">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.creative-tim.com">
                        Điện thoại: 0905.987.666 (Ly)
                    </a>
                </li>
                <li>
                    <a>
                        Địa chỉ: 05 Điện Biên Phủ, Cư'Mgar, Đăklăk
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2017, made with <i class="fa fa-heart heart"></i>, All credit go to truongle (htr.lee@gmail.com)
        </div>
    </div>
</footer>