<div class="main section section-nude section-with-space">
  <div class="container services">
    <div class="row">
        <div class="col-md-12">
            <div class="center-block section-info">
                <h3><u>Không gian Amy Spa</u> </h3>
                <p>Không gian và trang thiết bị hiện đại ở Amy</p>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-md-4 col">
             <img style="height: 230px" class="center-block img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/056/original_10/15823020_165404790604486_2462803355732181407_n.png?1485221810"></img>
             <img style="height: 450px" class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/053/original_10/15781364_165404747271157_6476467136188468596_n.png?1485221788"></img>
             <img style="height: 350px" class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/050/original_10/15726891_165404777271154_3823089055434348480_n.png?1485221773"></img>
         </div>
        <div class="col-md-4">
             <img style="height: 350px" class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/054/original_10/15781795_741970729289444_2599920737364265417_n.png?1485221795"></img>
             <img style="height: 230px" class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/048/original/15492566_163688010776164_3533515645277592800_n.jpg?1485221763"></img>
             <img style="height: 450px" class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/055/original_10/15822980_741970772622773_94402937686061675_n.png?1485221802"></img>
         </div>
         <div class="col-md-4">
             <img style="height: 450px" class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/051/original/15727382_741970715956112_6298614219107923306_n.jpg?1485221780"></img>
             <img style="height: 230px" class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/059/original/15697677_163687960776169_7246117763045878807_n.jpg?1485223102"></img>
             <img style="height: 350px"class="center-block  img-responsive" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/058/original/15747843_163688034109495_3088668938232652026_n_%281%29.jpg?1485222688"></img>
         </div>
    </div>
  </div>
</div>

<div class="main">
    <div class="section section-white section-with-space">
        <div class="container tim-container text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Amy Spa</h2>
                    <p>Nhân viên tay nghề cao, nhiệt tình, chu đáo</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= link_to show_services_path, class:"btn btn-danger btn-simple" do %>
                    <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/064/original/test.jpg?1485162877" alt="Rounded Image" class="img-rounded img-responsive">
                    <% end %>
                    <div class="img-details">
                        <div class="author">
                            <a href="https://www.facebook.com/profile.php?id=100010295927811" target="_blank">
                                <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/053/thumb/14563392_681752341982722_3253216983722556974_n.jpg?1485161495" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </a>
                        </div>
                        <p>Điều trị, chăm sóc da</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <%= link_to show_services_path, class:"btn btn-danger btn-simple" do %>
                    <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/062/original/Full-Body-Massage.jpg?1485162875" alt="Rounded Image" class="img-rounded img-responsive">
                    <% end %>
                    <div class="img-details">
                        <div class="author">
                            <a href="https://www.facebook.com/profile.php?id=100007042218519" target="_blank">
                                <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/058/thumb/15965042_1859465390964850_3771109325887964297_n.jpg?1485161499" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </a>
                        </div>
                        <p>Body Massage</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <%= link_to show_services_path, class:"btn btn-danger btn-simple" do %>
                    <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/063/original/nail-care.jpg?1485162876" alt="Rounded Image" class="img-rounded img-responsive">
                    <% end %>
                    <div class="img-details">
                        <div class="author">
                            <a href="https://www.facebook.com/den.zuly.9" target="_blank">
                                <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/054/thumb/15203164_724226341063883_3294733880073213830_n.jpg?1485161496" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </a>
                        </div>
                        <p>Chăm sóc tóc, móng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-nude section-with-space">
        <div class="container tim-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Liên hệ với Amy Spa</h2>
                    <p>Liên hệ với chúng tôi để nhận được tư vấn, Nhấp vào đăng ký để nhận được thông báo về chương trình khuyến mãi ở Amy Spa</p>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 download-area">
                    <a href="http://www.creative-tim.com/product/paper-kit" class="btn btn-danger btn-fill btn-block btn-lg">Sign In</a>
                </div>
            </div>
            <div class="row sharing-area text-center">
                    <h3>Kênh liên hệ</h3>
                    <a class="btn">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        0905.987.666
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100010295927811" target="_blank" class="btn">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a>
            </div>
        </div>
    </div>
</div>   