<div class="main">
  <div class="section">
    <div class="row section-info">
      <h2><u>AMY SPA</u></h2>
      <p>Chuyên cung cấp các sản phẩm và dịch vụ làm đẹp</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-12 poster poster-info">
            <h3>Điều trị</h3>
            <div class="caption">
              <p>Cung cấp các dịch vụ điều trị chuyên sâu về da như trị mụn, sẹo, tàng nhang, nám vĩnh viễn. Sử dụng công nghệ hiện đại không gây đau rát, không để lại vết thâm sau quá trình điều trị</p>
            </div>
            <img class="img-responsive center-block" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/045/medium/skin-treatment-250x250.png?1485068932"></img>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 poster poster-primary">
            <h3>Massage</h3>
            <div class="caption">
              <p>Massage bằng đá nóng tốt cho thư giãn, giảm đau nhức, giúp phục hồi nhanh thể lực sau một ngày làm việc mệt mỏi </p>
            </div>
            <img class="img-responsive center-block" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/063/medium/a1.png?1485224112"></img>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12 poster poster-danger">
            <h3>Chăm sóc tóc</h3>
            <div class="caption">
              <p>Phương pháp chăm sóc tóc bằng thảo dược lưu lại hương thơm tự nhiên và giúp phục hồi các dưỡng chất cần thiết cho da đầu từ bên trong, giúp da đầu khỏe mạnh, không còn ngứa, mái tóc sạch gàu từ lần gội đầu tiên.</p>
            </div>
            <img class="img-responsive center-block" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/046/medium/123123.png?1485069632"></img>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container-fluid section section-light-blue">
    <div class="row">
      <div class="col-md-6">
        <img class="image-limited-size center-block img-responsive"  src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/042/original/a4.png?1485067220"></img>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 center-block product-info section-info">
          <h3><u>SẢN PHẨM CỦA CHÚNG TÔI</u> </h3>
          <p>Hàng nhập khẩu có nguồn gốc xuất xứ rõ ràng</p>
          <p>Chất lượng đã được kiểm nghiệm và sử dụng bởi khách hàng</p>
          <p>Giá cả hợp lý đi cùng chất lượng đảm bảo</p>
          <p>Sản phẩm có thương hiệu nổi tiếng trên thị trường</p>
          <%= link_to "Xem", show_products_path, class:"btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="center-block section-info">
          <h3><u>Dịch vụ</u> </h3>
          <p>chăm sóc da, tắm trắng, điều trị mụn, điều trị chuyên sâu những vùng da bị tổn thương như sẹo lồi, lõm, rỗ.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
        <% if @services %>
          <%  @services.each do |s|  %>
              <div class="col-md-3">
                <%= link_to detail_path(s), class: 'service-wrapper center-block' do %>
                    <img class="img-responsive center-block" src="<%= s.product_photos.first.photo.url(:medium) %>"></img>
                    <div class="text-wrapper">
                        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                        <div><%= s.name %></div>
                    </div>
                <% end %>
              </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
