<div class="main">
  <div class="section">
    <div class="row section-info">
      <h2><u>AMY SPA</u></h2>
      <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="center-block poster poster-info">
              <h3>Điều trị</h3>
              <div class="caption">
                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in </p>
              </div>
              <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/045/medium/skin-treatment-250x250.png?1485068932"></img>
            </div>
          </div>
          <div class="col-md-4">
            <div class="center-block poster poster-primary">
              <h3>Massage</h3>
              <div class="caption">
                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in </p>
              </div>
              <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/041/medium/a1.png?1485067219"></img>
            </div>
          </div>
          <div class="col-md-4">
            <div class="center-block poster poster-danger">
              <h3>Chăm sóc tóc</h3>
              <div class="caption">
                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in </p>
              </div>
              <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/046/medium/123123.png?1485069632"></img>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container-fluid section section-light-blue">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <img class="center-block" src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/042/original/a4.png?1485067220"></img>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 center-block product-info section-info">
                <h3><u>lorem ipsum</u> </h3>
                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</p>
                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</p>
                <p>được dùng vào việc trình bày và dàn</p>
                <p>Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row services">
        <div class="col-md-12">
            <div class="center-block section-info">
                <h3><u>lorem ipsum</u> </h3>
                <p>Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả</p>
            </div>
        </div>
      <div class="col-md-12">
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
         <div class="col-md-3 col-sm-6 col-xl-6">
             <img class="center-block" src="http://s3.amazonaws.com/amyspa/product_photos/photos/000/000/007/medium/chet_faker_1.jpg?1484824281"></img>
         </div>
      </div>
    </div>
  </div>
</div>
