<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <%= stylesheet_link_tag  'application-authentication', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
    <div class="login">
        <%= yield %>
    </div>
</body>
</html>
